:root{
    box-sizing: border-box;
    font-size: 16px;
}

*{
    /* border: 2px red solid; */
}
html{
    height: 100vh;
}
body{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-column: 1fr 1fr 1fr;
    height: 100%;
    margin: 0px;
}

header{
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.gameboard{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,175px);
    grid-template-rows: repeat(3,175px);
    /* border: solid 3px black; */
    justify-content: center;
    align-content: center;
}

.spot:hover{
    background-color: blue;
}

.spot{
    background-color: rgb(215, 215, 213);
    border: solid 3px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>span{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    
}